<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Classes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar showCancelButton="always"></ion-searchbar>

  <ion-card  color="gray">
    <ion-card-header>
      <div class="esp-img">
        <img class="img-classe" src="http://skyrim-mrpg.weebly.com/uploads/1/0/6/4/10642182/503023652.jpg?292" alt="Imagem-Classe-Mago">
      </div>
    </ion-card-header>

    <h1>Magos</h1>

    <ion-card-content class="desc">
      <p>Magos são os combatentes que preferem vencer uma dura batalha mais pela inteligência do que pela força.
      Aprender muitos Spells é indispensável para esta classe, assim como saber usar artefatos mágicos.</p>
    </ion-card-content>
  </ion-card>

  <ion-card  color="gray">
    <ion-card-header>
      <div class="esp-img">
        <img class="img-classe" src="http://nextews.com/images/07/6f/076f6c2f7ebb0edb.jpg" alt="Imagem-Classe-Ladrão">
      </div>
    </ion-card-header>

    <h1>Ladrões</h1>

    <ion-card-content class="desc">
      <p>Os ladrões são os mestres do disfarce, e ganham as batalhes por ataques vindos de onde o inimigo nunca esperaria.
        São muito versáteis, e conseguem abrir uma porta e roubar todos os itens sem que ninguém os veja.</p>
    </ion-card-content>
  </ion-card>

  <ion-card  color="gray">
    <ion-card-header>
      <div class="esp-img">
        <img class="img-classe" src="http://pm1.narvii.com/6664/b8b448f2693d0781413e0ceab8cf1ea98ac56103_00.jpg" alt="Imagem-Classe-Guerreiros">
      </div>
    </ion-card-header>

    <h1>Guerreiros</h1>

    <ion-card-content class="desc">
      <p>Guerreiros são os fortes combatentes,
      que se utilizam mais de armas e de ataques físicos para subjulgar os oponentes no campo de batalha.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
