<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Raças
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar showCancelButton="always"></ion-searchbar>

  <ion-item color="gray">
    <ion-thumbnail class="espaco-img" slot="start">
      <img src="https://www.generador-de-nombre.com/img/categoria/videojuegos/the-elder-scrolls/nordico.jpg">
    </ion-thumbnail>
    <ion-label  class="item-lista ion-text-wrap">
      <div>
      <h3>Nórdico</h3>
      <p>Os Nórdicos, também chamados de como da Neve e/ou do Céu, são uma raça de homens da província de Skyrim.</p>
      </div>
    </ion-label>
  </ion-item>

  <ion-item color="gray">
    <ion-thumbnail class="espaco-img" slot="start">
      <img src="https://i.kym-cdn.com/entries/icons/facebook/000/019/526/Khajiit_Icon.jpg">
    </ion-thumbnail>
    <ion-label class="item-lista ion-text-wrap">
      <div>
      <h3>Kahjiit</h3>
      <p>Khajiit são um povo felino da província de Elsweyr, são seres terrenos, porém a pirataria e o comércio os atrae bastante.</p>
      </div>
    </ion-label>
  </ion-item>

  <ion-item color="gray">
    <ion-thumbnail class="espaco-img" slot="start">
      <img src="../../assets/imgs/Elfo negro.jpg">
    </ion-thumbnail>
    <ion-label  class="item-lista ion-text-wrap">
      <div>
      <h3>Elfo Nego</h3>
      <p>Os Elfos Negros, ou Dunmers, são os povos elfos de pele cinzenta e olhos vermelhos de Morrowind.</p>
      </div>
    </ion-label>
  </ion-item>

  <ion-item color="gray">
    <ion-thumbnail class="espaco-img" slot="start">
      <img src="https://cdn.quotesgram.com/img/96/4/615253754-517-1-1321588853.png">
    </ion-thumbnail>
    <ion-label  class="item-lista ion-text-wrap">
      <div>
      <h3>Argoniano</h3>
      <p>Argonianos são uma raça ovípara de répteis nativa de Argonia, uma província pantanosa no sudeste de Tamriel.</p>
      </div>
    </ion-label>
  </ion-item>

  <ion-item color="gray">
    <ion-thumbnail class="espaco-img" slot="start">
      <img src="https://i.pinimg.com/originals/bb/22/73/bb2273e42cde9e56352e21783b68fc20.jpg">
    </ion-thumbnail>
    <ion-label  class="item-lista ion-text-wrap">
      <div>
      <h3>Orc (Ou Ogro)</h3>
      <p>Os Orcs, ou Orsimer, são um povo "bestial" das Montanhas Wroth- garian, Montanhas Cauda de Dragão,  Valenwood e Orsinium.</p>
      </div>
    </ion-label>
  </ion-item>

</ion-content>
