<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sobre / Download </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">
    <h2>O Que é o Skyrim?</h2>
  </div>

  <div class="desc">
    <p>The Elder Scrolls: Skyrim, que é mais conhecido apenas como Skyrim,
     é um jogo eletrônico de RPG e Ação lançado pela Bethesda, e é o quinto jogo da série The Elder Scrolls.
    O jogo foi lançado em 2011 para Windows, Playstation 3 e xbox 360, e hoje é um jogo multiplataformas e um dos mais joghados
    e conhecidos da franquia.</p>
  </div>

  <div class="esp-but">
  <ion-button class="but" color="gray"><a href="https://store.steampowered.com/app/72850/The_Elder_Scrolls_V_Skyrim/" target="_blank"><p>Download Steam</p></a></ion-button>
    </div>
</ion-content>
